:root {
  --text-color: hsl(193, 38%, 86%);
  --header-color: hsl(150, 100%, 66%);
  --divider-color: hsl(217, 19%, 38%);
  --card-background-color: hsl(217, 19%, 24%);
  --main-background-color: hsl(218, 23%, 16%);
}

.App {
  background-color: var(--main-background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.advice-roller {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -35px;
}

#btn{
  display: none;
}

#btn:checked + label > div > img {
  animation: rotation 2s 0s linear;
}

.advice-roller:hover {
  cursor: pointer;
  box-shadow: 0 0 30px 2px var(--header-color);
}

.wait {
  cursor: wait;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}